
.the_p{
    color: rgb(169, 169, 169);
    font-size: 14px;
    margin-left: 50px;
}
.the_h1{
    margin-top: 30px;
    margin-left: 50px;
}
.container1{
    width: 100%;
    height: 100%;
    background-color: rgb(231, 231, 231);
}
.falther{
    display: flex;
    padding-left: 160px;
    height: auto;
}
.child_1{
    height: 380px;
    width: 400px;
    background-color: white;
    margin-top: 15px;
    margin-left: 0.5px;
    margin-bottom: 30px;
}
.image img{
    width: 120px;
    height: 120px;
    background-color: rgb(208, 208, 208);
    border-radius: 50%;
    text-align: center;
    margin-left: 500px;
    margin-top: 10px;
}
.image_1 img{
    width: 120px;
    height: 120px;
    background-color: rgb(208, 208, 208);
    border-radius: 50%;
    text-align: center;
    margin-top: 130px;
    margin-left: 150px;
}
.textip1 input {
    margin-left: 10px;
    margin-top: 10px;
}
.textip1{
    margin-left: -20px;
}
.textip{
    margin-left: -20px;
}
.textip p{
    margin-bottom: -100px;
    font-size: 10px;
}
.textip1 p{
    margin-bottom: -200px;
    font-size: 10px;
}
.textip input {
    margin-left: 40px;
}
.captcha{
    margin-left: 50px;
    margin-top: 10px;
}
.register{
    font-size: 12px;
    font-weight: bold;
}
.btn-primary{
    margin-top: -20px;
}

/* responsive */
/* tablet */
@media only screen and (max-width: 769px) {
    .captcha{
        margin-top: 20px;
        width: 300px;
        margin-right: 60px;
    }
    .the_p{
        margin-left: 50px;
    }
    .the_h1{
        margin-top: 30px;
        margin-left: 50px;
    }
    .table1{
        opacity: 0;
    }
    .image img{
        margin-left: 300px;
        margin-top: 10px;
    }
  }

  /* mobile */
  @media only screen and (max-width: 426px) {
    .falther{
        margin-left: -150px;
    }
    .table1{
        opacity: 0;
    }
    .the_p{
        margin-left: 50px;
    }
    .the_h1{
        margin-left: 50px;
    }
    .image img{
        margin-left: 150px;
        margin-top: 10px;
    }
  }
  
  @media only screen and (max-width: 376px) {
    .child_1{
        width: 350px;
    }
    .table1{
        opacity: 0;
    }
    .captcha{
        margin-left: 20px;
    }
    .the_p{
        margin-left: 28px;
    }
    .the_h1{
        margin-left: 28px;
    }
    .image img{
        margin-left: 120px;
        margin-top: 10px;
    }
  }

  @media only screen and (max-width: 321px) {
    .child_1{
        width: 300px;
    }
    .table1{
        opacity: 0;
    }
    .captcha{
        margin-left: -2px;
        margin-top: 10px;
    }
    .the_p{
        margin-left: 5px;
    }
    .the_h1{
        margin-left: 5px;
    }
    .image img{
        margin-left: 100px;
        margin-top: 10px;
    }
  }

