.btn-secondary{
    margin-right: 10px;
    margin-left: 10px;
}
button{
    font-size: 12px;
    font-weight: bold;
}
.btn-danger{
    margin-right: -60px;
}
h2{
    padding-left: 380px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgb(0, 87, 164);
    text-transform:uppercase;
}
